<div class="image-with-text page-width color-scheme-background-1">
  <div class="image-with-text__grid color-background-1 grid grid--gapless grid--1-col grid--2-col-tablet gradient about-fade-in">
    <div class="grid__item">
      <div class="image-with-text__media image-with-text__media--adapt about-fade-in media">
        <img src="{{ section.settings.image1 | img_url: '750x' }}" alt="{{ section.settings.heading1 }}" loading="lazy" width="750" height="auto">
      </div>
    </div>
    <div class="grid__item">
      <div class="image-with-text__content image-with-text__content--adapt">
        <h2 class="image-with-text__heading h1">
          {{section.settings.heading1}}
        </h2>
        <div class="image-with-text__text rte">
          {{section.settings.text1}}
        </div>
        <a href="{{section.settings.link1}}" class="button button--primary">
          {{section.settings.btn1}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="image-with-text page-width color-scheme-background-1" style="margin-top: 2rem;">
  <div class="image-with-text__grid color-background-1 grid grid--gapless grid--1-col grid--2-col-tablet gradient about-fade-in">
    <div class="grid__item">
      <div class="image-with-text__media image-with-text__media--adapt about-fade-in media">
        <img src="{{ section.settings.image2 | img_url: '750x' }}" alt="{{ section.settings.heading2 }}" loading="lazy" width="750" height="auto">
      </div>
    </div>
    <div class="grid__item">
      <div class="image-with-text__content image-with-text__content--adapt">
        <h2 class="image-with-text__heading h1">
          {{section.settings.heading2}}
        </h2>
        <div class="image-with-text__text rte">
          {{section.settings.text2}}
        </div>
        <a href="{{section.settings.link2}}" class="button button--primary">
          {{section.settings.btn2}}
        </a>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
    "name": "new_section_collection",
    "class": "new_section_collection",
    "settings": [
{
            "type": "image_picker",
            "id": "image1",
            "label": "Image1",
            "info": "400 x 300px recommended"
          },
{
            "type": "image_picker",
            "id": "image2",
            "label": "Image2",
            "info": "400 x 300px recommended"
          },
{
        "type": "text",
        "id": "heading1",
        "label": "Heading",
        "default": "heading"
      },

{ 
        "type": "text",
        "id": "heading2",
        "label": "Heading2",
        "default": "heading"
      },

{
        "type": "richtext",
        "id": "text1",
        "label": "Text1",
        "default": "<p>Use this text to share information about your brand with your customers.</p>"
      },
{
        "type": "richtext",
        "id": "text2",
        "label": "Text2",
        "default": "<p>Use this text to share information about your brand with your customers.</p>"
      },

{
"type": "url",
"id": "link1",
"label": "Button1 link"
},
{
"type": "text",
"id": "btn1",
"label": "Button1 text"
},
{
"type": "url",
"id": "link2",
"label": "Butto2 link"
},
{
"type": "text",
"id": "btn2",
"label": "Button2 text"
}
    ],
    "presets": [
        {
            "name": "new_section_collection",
            "category": "Text"
        }
    ]
}
{% endschema %}