<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<div class="slider-wrap about-fade-in">
  <h2 class="image-with-text__heading h1 about-fade-in">{{section.settings.title}}</h2>
  <div class="slider carousel" data-flickity='{ "groupCells": true, "cellAlign": "left", "contain": true }' >
    
      {% for block in section.blocks %}
  <div class="slide carousel-cell">
    
    
    <img src="{{ block.settings.image | img_url: 'master' }}" alt="" class="img-responsive">
    <h1>{{ block.settings.title1 }}</h1>
    {{block.settings.text1}}
    

  </div>
    
    {% endfor %}
    

    
</div>
  <center>  <a class="button button--primary my" href="{{ section.settings.link1 }}">{{section.settings.text}}</a></center>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% schema %}
  {
    "name": "new slideshow",
    "class": "logo-list-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
{
"type": "url",
"id": "link1",
"label": "Button link"
},
{
"type": "text",
"id": "text",
"label": "Button Text"
}
    ],
    "blocks": [
      {
        "type": "image-text",
        "name": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          },

             {
        "type": "text",
        "id": "title1",
        "label": "Heading",
        "default": "title"
      },
          {
        "type": "richtext",
        "id": "text1",
        "label": "text",
"default": "<p>text</p>"
      }

        ]
      }
    ],
    "presets": [
      {
        "name": "new slideshow",
        "category": "Image",
        "blocks": [
          {
            "type": "image-text"
          }
         
        ]
      }
    ]
  }
{% endschema %}